/**
 * 单场样式表kk
 * date:2013-05-24 13:43:32
 */
@charset "utf-8";
body {padding:0;margin:0; text-align:left;font-family:"微软雅黑","宋体", Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
img a {border:none;}
body.sub_body { background:#fff;padding:0;margin:0;}
.wrap {width:1245px;overflow:hidden;font-size:12px;margin-left:10px; background:#fff;}
.ac_frame {width:100%;*width:960px;_width:960px;min-width:940px;}
.help_ico {font-weight:normal;height:26px;line-height:26px;padding:0 0 0 16px;background:url(../images/help_ico.gif) no-repeat left center;}
	/*login*/
	.wrap_login {width:850px;margin:10% auto 10px auto;background:#fff;}
	.lg_table {width:850px;}
	.lg_table td.login_ad {background:url(../images/logo_ad.jpg) no-repeat left top;width:500px;height:420px;}
	.login_tit {height:24px;width:60px; background:#8080C0;color: #C0C0E0;padding:0 10px;line-height:24px;font-weight:bold;}
	.login_frame {border:1px #C0C0E0 solid;background:#fff;width:350px;height:auto;text-align:center;margin-bottom:10px;}
		.login_table {width:320px;margin:10px auto;}
		.login_table td {padding:0 4px;height:32px;color:#666;}
		.login_table td.t_width {width:90px;line-height:12px;}
		.login_table td.b_border {padding:0 4px 6px 4px;}
		.login_table td.t_border {border-top:1px #e3e3e3 solid;padding:6px 0 5px 0;}
		.re_select {padding-right:15px; background:url(../images/re_select.png) no-repeat right center;}
		.log_input {border:1px #ccc solid;height:24px;width:160px;padding:0 5px;line-height:24px;}
		.log_input_2 {border:1px #ccc solid;height:24px;width:35px;padding:0 5px;line-height:24px;margin-right:10px;}
		.login_bt {width:86px;height:27px;line-height:27px; cursor:pointer;border:none; background:url(../images/login_bt.gif);color:#fff;font-weight:bold;}
	.explorer_frame {border:1px #ccc solid; background:#fff;height:auto;text-align:left;margin-bottom:10px;}
	.explorer_frame p {padding:10px;margin:0;line-height:16px;}
	.explorer_frame p.err {margin:1px;background:url(../images/explorer_err.png) no-repeat 10px 10px #FFC;padding:10px 10px 10px 50px;color:red;}
	.explorer_frame p img {border:1px #fff solid;margin:5px;}
	.explorer_frame p img:hover {border:1px #ccc solid;}
		.exp_tit {display:block;border-bottom:1px #e3e3e3 dashed;padding:2px;margin-bottom:2px;color:#666;}
		.exp_ab {display:block;border:1px #FFAE88 solid;padding:6px 10px;background:#FFFFE1;}
	.login_footer {border-top:1px #8080C0 solid;padding:5px 0; text-align:center;color:#333;line-height:20px;}
	.login_footer p {margin:0;padding:5px;line-height:16px;font-size:12px;color:#999;}
	/*top*/
	.top {height:130px; position:relative;}
	.logo { background:url(../images/logo.gif) no-repeat left top;display:block;height:58px;width:190px;}
	.top_nav { position:absolute;top:0;right:120px;background:url(../images/top_nav_bg.gif) repeat-x left -30px;height:30px;white-space:nowrap;display:block;z-index:100;}
		.top_nav_left {height:30px;_float:left;padding-left:10px; background:url(../images/top_nav_bg.gif) no-repeat left top;}
		.top_nav_right {height:30px;_float:left;padding-right:10px; background:url(../images/top_nav_bg.gif) no-repeat right bottom;line-height:30px; text-align:right;}
			.top_nav_right_ul {overflow:hidden;padding-top:6px;}
			.top_nav_right_ul li {float:left;margin-left:-1px;line-height:18px;height:18px; text-align:center;border-left:1px #e3e3e3 solid;text-align:left;color:#999;}
			.top_nav_right_ul li a {display:block;padding:0 12px;text-decoration:none;_width:30px;color:#999;white-space:nowrap}
			.top_nav_right_ul li a:hover {background:#e3e3e3;color:#f60;}
			.top_nav_right_ul li.none {float:left;margin-left:-1px;line-height:18px;height:18px; text-align:center;border-left:1px #e3e3e3 solid;text-align:left;padding:0 10px;}
			.top_nav_right_ul li.none a {display:inline;padding:0 2px;text-decoration:none;_width:30px;color:#369;white-space:nowrap}
			.top_nav_right_ul li.none a:hover {background:none;color:#f60;}

			.top_nav_right_ul li ul {position: absolute;visibility: hidden; background:#EEE;display:block;_width:120px;}	
			.if_layout {width:100%;_width:120px;boder:none;filter:alpha(opacity=0);-moz-opacity:0;position:absolute; z-index:-1;display:none;*display:block;_height:150px;}	
			.top_nav_right_ul li ul li {float:none;display:block;border:none; text-align:left;padding:2px;z-index:22}
			.top_nav_right_ul li ul li a {width:auto;display:block;}
			.top_nav_right_ul li ul li a:hover {background:#e3e3e3;color:#f30;}
		
	.top_right_ad { background:url(../images/top_right_ad.gif) no-repeat;height:119px;width:120px; position:absolute;top:0;right:0;_right:-1px;z-index:10;}
	.top_time {position:absolute;top:30px;left:200px;z-index:10;height:26px;line-height:26px;width:205px;text-align:right; white-space:nowrap;overflow:hidden;color:#369}
	.top_pk {position:absolute;top:89px;_top:91px;right:120px;z-index:10;height:26px;line-height:26px;width:380px; text-align:right; white-space:nowrap;overflow:hidden;color:#fff;}
	.user_about {height:28px;width:410px; background:url(../images/main_nav_bg.gif) repeat-x left -28px;overflow:hidden;}
		.about_body {line-height:28px; background:url(../images/main_nav_bg.gif) no-repeat right -56px;display:block;padding:0 10px;color:#fff;}
	.site_ad {height:28px;width:705px; background:url(../images/main_nav_bg.gif) repeat-x left top; position:absolute;top:58px;right:120px;_right:118px;overflow:hidden;z-index:10px;}
		#scrlContent{position:absolute;left:0;top:0;white-space:nowrap; height:28px;line-height:28px;}  
		#msg_more {display:inline;height:28px;line-height:28px; position: absolute;top:0;right:0; background:#f1f1f1;padding-left:4px;white-space:nowrap;}
	.main_nav {height:33px; background:url(../images/main_nav_bg.gif) repeat-x left bottom;}
		.main_nav_ul {padding-top:8px;overflow:hidden;}
		.main_nav_ul li {float:left;margin-left:-1px;line-height:18px;height:18px; text-align:center;border-left:1px #567196 solid;text-align:left}
		.main_nav_ul li a {display:block;padding:0 12px;text-decoration:none;_width:30px;color:#EAFFED;white-space:nowrap}
		.main_nav_ul li a:hover {background:#39547a;color:#f60;}
		.main_nav_ul li.myfavorite {background: url(../images/myfavorite.gif) no-repeat 10px 1px;padding-left:29px;}
		.main_nav_ul li.myfavorite a {padding:0 5px 0 0;}
		.main_nav_ul li.myfavorite:hover {background: url(../images/myfavorite.gif) no-repeat 10px 1px;padding-left:29px;}
		
		.main_nav_ul li ul {position: absolute;visibility: hidden; background:#39547a;z-index:20;}		
		.main_nav_ul li ul li {float:none;display:block;border:none; text-align:left;padding:2px 0;margin:0 2px;}
		.main_nav_ul li ul li.top_line {border-top:1px #51698a solid;}
		.main_nav_ul li ul li a {width:auto;background:#39547a;}
		.main_nav_ul li ul li a:hover {background:#51698a;color:#f30;}
	
	.main {clear:both;display:block;min-height:300px;_height:300px;} 
	.leftsubbody {border-left:1px #7089ae solid;border-bottom:1px #7089ae solid;border-right:1px #7089ae solid;overflow:auto;}
	/*left menu*/
	.sub_nav {width:210px;float:left;overflow:hidden;}
		.sub_nav_top { background:url(../images/sub_nav_top_bg.gif) no-repeat right top #3a547b;height:31px;padding-left:5px;}
		.sub_nav_top ul li {margin-top:4px;float:left;height:27px;line-height:27px;font-weight:bold;}
		.sub_nav_top ul li a {display:block;padding:0 10px;color:#fff;}
		.sub_nav_top ul li a:hover {color:#f60;}
		.sub_nav_top ul li.ons {margin-top:4px;float:left;height:27px;line-height:27px;font-weight:bold; background:url(../images/sub_nav_top_ons.gif) repeat-x top left;}
		.sub_nav_top ul li.ons a {display:block; background:url(../images/sub_nav_top_ons.gif) repeat-x right bottom;padding:0 10px;color:#39547a;}
		.sub_nav_top ul li.ons a:hover { cursor:default;}
	.sub_nav_body {clear:both;padding:5px;_zoom:1;*zoom:1}
		.about_money { border-collapse:collapse;width:100%;border-top:1px #bdc7d2 solid;border-right:1px #bdc7d2 solid;}
		.about_money td {border-left:1px #bdc7d2 solid;border-bottom:1px #bdc7d2 solid;padding:3px 5px;}
		.about_money tr:hover td { background: #EDFFDF}
		.about_login { border-collapse:collapse;width:100%;border-top:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;margin-top:6px;}
		.about_login td {border-left:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;padding:3px 5px;color:#999;}
		
	.ac_ing {clear:both;border:1px #fff solid;padding:1px;_zoom:1;*zoom:1; text-align:center;}
		.ac_buy { background:#dbeef3;}
		.ac_sell { background:#f2dddc;}
		.ac_tit {margin:0;line-height:26px; padding:0;font-size:12px; text-align:center;height:26px; background: #dde1ed; position:relative;border-bottom:1px #fff solid;}
			.ac_un_num { position:absolute;top:5px;right:4px;height:17px;width:35px;overflow:hidden; background:url(../images/re_num.gif) no-repeat left top; cursor:pointer;}
			.ac_auto_num { position:absolute;top:5px;right:4px;height:17px;line-height:17px;color:#fff;font-weight:bold;width:35px;overflow:hidden; background:url(../images/re_num.gif) no-repeat left bottom;cursor:pointer;}
			.ac_auto_num span {padding-left:16px; text-align:left;}
			
		.help_0 {height:12px;width:12px;overflow:hidden;background: url(../images/help_ico_0.gif) no-repeat;float:right;}
		a.help_0:link {height:12px;width:12px;overflow:hidden;display:block;text-decoration:none;background: url(../images/help_ico_0.gif) no-repeat left 0;}
		a.help_0:hover {text-decoration:none;background: url(../images/help_ico_0.gif) no-repeat left -12px;}
		
		.s_ac_table {width:96%;margin:0 auto;}
		.s_ac_table td { text-align:center;padding:10px 0;}
		.s_ac_table td label {padding:2px 0;*line-height:24px;*height:22px;}
		.s_ac_table td.help_top { text-align:right;padding:4px 0 0 0;}
		.s_ac_table td.s_name_1 { text-align:center;padding:0 0 2px 0;color:#000;}
		.s_ac_table td.s_name_2 { text-align:center;padding:2px 0 4px 0;color:#36f;font-size:14px;font-weight:bold;}
		.s_ac_table td.s_name_3 { text-align:center;padding:0;color:#000;font-size:16px;font-weight:bold;}
		.s_ac_table td.s_ac_buying_0 { background:#b3e0eb;padding:6px 2px 5px 10px; text-align:left}
		.s_ac_table td.s_ac_buying { background:#b3e0eb;padding:0px 2px 5px 10px; text-align:left}
		.s_ac_table td.s_ac_buying .auto_time {height:22px;display:block; background:#dbeef3;padding:2px 5px;margin-right:0 10px;}
		.s_ac_table td.s_ac_buying .auto_time .time_input {border:1px #ccc solid;height:16px;line-height:16px; text-align:center;width:16px;margin:0 2px;padding:0 1px;color:red;}
		.s_ac_table td.s_ac_selling_0 { background:#f1cac8;padding:6px 2px 5px 10px;text-align:left}
		.s_ac_table td.s_ac_selling { background:#f1cac8;padding:0 2px 5px 10px;text-align:left}
		.s_ac_table td.s_ac_selling .auto_time {display:block; background:#f2dddc;padding:2px 5px;margin-right:10px 10px;}
		.s_ac_table td.s_ac_selling .auto_time .time_input {border:1px #ccc solid;height:16px;line-height:16px; text-align:center;width:16px;margin:0 2px;padding:0 1px;color:red;}
		.s_ac_table td.ifnum {padding:6px 2px 0 10px;text-align:left;}
		.s_ac_table td.ifnum_b {padding:6px 2px 6px 10px;text-align:left;border-bottom:1px #ccc solid;}
		p.yy_bewrite {padding:2px;line-height:16px;margin:0; text-align:left;border-bottom:1px #CCC dashed;}
		p.ff_bewrite{padding:2px;line-height:16px;margin:2px 0 0 0; text-align:left; background:#fff;}
		
	.content {float:right;_width:715px;}
		.today_play_tit {background:url(../images/point_001.gif) no-repeat 10px 9px #fff;padding-left:30px;height:30px;line-height:30px;border-bottom:1px #ccc solid;}
			.player_sel {float:right;height:30px;line-height:30px;}

						
		.gq_top { background:url(../images/gq_top_bg.jpg) no-repeat;height:121px;width:1026px; position:relative;padding:0;margin:5px 0 0 0;}
			.palyer_1 {font-size:14px;font-weight:bold; text-align:right;height:18px;line-height:18px; position:absolute;top:20px;right:668px;overflow:hidden;width:300px;}
			.palyer_2 {font-size:14px;font-weight:bold; text-align:left;height:18px;line-height:18px;position:absolute;top:20px;left:600px;overflow:hidden;width:300px;}
			.player_1_n { font-family:Verdana, Geneva, sans-serif;background: url(../images/p_num_bg.gif) no-repeat;height:36px;line-height:36px;width:45px; text-align:center;color:#fff;font-size:24px;font-weight:bold; position:absolute;top:10px;left:375px;}
			.player_2_n { font-family:Verdana, Geneva, sans-serif;background: url(../images/p_num_bg.gif) no-repeat;height:36px;line-height:36px;width:45px; text-align:center;color:#fff;font-size:24px;font-weight:bold; position:absolute;top:10px;left:540px;}
			.play_active {width:100px;overflow:hidden;height:44px; position:absolute;top:6px;left:430px; text-align:center;}
				.p_time_ac {display:block;border-bottom:2px #ccc solid;height:20px;line-height:20px;color:red;overflow:hidden;}
				.p_helf_ac {height:20px;line-height:20px;color:#666;}
			.sub_player_1 {text-align:right;width:120px;overflow:hidden;height:14px;line-height:14px;position:absolute;top:55px;right:890px;}
			.sub_player_2 {text-align:right;width:120px;overflow:hidden;height:14px;line-height:14px;position:absolute;top:95px;right:890px;}
			.helf_bewrite_1 {color:red; text-align:right;width:90px;overflow:hidden;height:14px;line-height:14px;position:absolute;top:75px;right:890px;}
			.helf_bewrite_2 {color:red; text-align:left;width:90px;overflow:hidden;height:14px;line-height:14px;position:absolute;top:75px;left:850px;}
			.play_time_bar {width:716px;height:14px;line-height:14px;padding:75px 0 0 135px;_padding:74px 0 0 135px;}
				.helf_timebar {float:left;width:346px;display:inline;margin-left:5px;height:12px;border:1px #419b00 solid; background:url(../images/gq_time_bg.gif) repeat-x left top; position:relative;}
				.helf_timebar .time_line {height:12px;line-height:12px;overflow:hidden;text-align:right;color:#000;background:url(../images/gq_time_bg.gif) repeat-x left -12px;}
				.red_card_t { position:absolute;top:-25px;font:12px Arial, Helvetica, sans-serif;left:80px;width:16px;height:26px; background: url(../images/p_redcard.gif) no-repeat center bottom;z-index:100;color:red;}
				.red_card_d { position:absolute;top:12px;font:12px Arial, Helvetica, sans-serif;left:50px;width:16px;height:16px;padding-top:12px;z-index:100;background: url(../images/p_redcard.gif) no-repeat center top;color:red;}
				.goal_t { position:absolute;top:-25px;font:12px Arial, Helvetica, sans-serif;left:200px;width:16px;height:26px; background: url(../images/p_goal.gif) no-repeat center bottom;z-index:10;color:red;text-align:center}
				.goal_d { position:absolute;top:12px;font:12px Arial, Helvetica, sans-serif;left:160px;width:16px;height:16px;padding-top:12px;z-index:10;background: url(../images/p_goal.gif) no-repeat center top;color:red;text-align:center}
	
			.ds_top { background:url(../images/ds_top_bg.jpg) no-repeat;height:56px;position:relative;padding:0;margin:10px 0 0 0;}
				.live_name { position:absolute;top:12px;left:10px;color:#3c567c;height:20px;line-height:20px;font-size:14px;font-weight:bold;}
				.live_time { position:absolute;top:35px;left:15px;color:#999;}
			.other_play {border-bottom:3px #669 solid;height:24px;margin:10px 0 0 0;overflow:hidden;}
			.other_play ul li {float:left;padding:0 10px;line-height:24px;_text-align:center;_width:60px; white-space:nowrap;}
			.other_play ul li.selectTag { background:#669;}
			.other_play ul li.selectTag a {color:#fff; text-decoration:none;}
			.other_list {padding:5px;border:1px #778097 solid;display:none;}
			.tab_show {display:block;}
			.play_list_frame {padding-top:15px;}
			.play_list_tit {height:25px; background:url(../images/gq_list_tit.gif) no-repeat left center;border-bottom:2px #778097 solid;padding-left:60px;}
			.play_list_tit .floatleft {color:#4e5a78;font-weight:bold;font-size:14px;line-height:25px;}
			.play_list_tit_all {height:25px; background:url(../images/ds_list_tit.gif) no-repeat 5px top;border-bottom:2px #778097 solid;padding-left:40px;}
			.play_list_tit_all .floatleft {color:#4e5a78;font-weight:bold;font-size:14px;line-height:25px;}
			.play_list_tit_helf {height:25px; background:url(../images/ds_list_tit.gif) no-repeat 5px -27px;border-bottom:2px #778097 solid;padding-left:40px;}
			.play_list_tit_helf .floatleft {color:#4e5a78;font-weight:bold;font-size:14px;line-height:25px;}
			.play_ac_tit {position:relative;height:32px;line-height:32px;background:url(../images/list_bg.gif) repeat-x left bottom;border:none;}
			.play_list_ul {margin-top:5px;border-top:1px #e3e3e3 solid;}
			.play_list_ul li { position:relative;height:32px;line-height:32px;border-bottom:1px #e3e3e3 solid;padding-left:2px;}
			.play_list_ul li:hover { background:#FFC}
			.play_list_frame .pk_th {position:absolute;height:24px;width:80px;white-space:nowrap;top:8px;right:420px; text-align:center;line-height:24px;color:#4e5a78;font-weight:bold;}
			.play_list_frame .pk_xm {position:absolute;height:24px;width:200px;white-space:nowrap;top:8px;left:15px; text-align:left;line-height:24px;color:#4e5a78;font-weight:bold;}
			.play_list_frame .other_th {position:absolute;height:24px;width:90px;white-space:nowrap;top:8px;right:350px;padding-right:5px;text-align:right;line-height:24px;color:#4e5a78;font-weight:bold; }
			.play_list_frame .buy_th { position:absolute;height:24px;width:168px;top:8px;right:170px;text-align:right;line-height:24px;color:#4e5a78;font-weight:bold;}
			.play_list_frame .sell_th { position:absolute;height:24px;width:168px;top:8px;right:0;line-height:24px;color:#4e5a78;font-weight:bold;}
			.play_list_frame .player {padding-left:10px;}
			.play_list_frame .buy { position:absolute;height:28px;width:168px;top:1px;right:170px; text-align:right; font-family:sans-serif}
			.play_list_frame .other_pk { position:absolute;height:28px;line-height:28px;width:80px;top:2px;right:420px;text-align: center;}
			.play_list_frame .other_data { background:url(../images/arrow_right.gif) no-repeat right center;position:absolute;height:28px;line-height:28px;width:55px;top:2px;right:350px;color:#060;text-align:right;padding-right:15px;}
			.play_list_frame .other_data:hover {color:#f60;}
			.play_list_frame .buy .span {color:#666;text-align:center;width:54px;height:27px;margin-left:2px;padding-top:3px; background: #eceded;display:inline-block;line-height:14px;overflow:hidden; text-decoration:none; cursor:pointer;}
			.play_list_frame .sell .span {color:#666;text-align:center;width:54px;height:27px;margin-left:2px;padding-top:3px; background: #eceded;display:inline-block;line-height:14px;overflow:hidden; text-decoration:none; cursor:pointer;}
			.play_list_frame .buy a b {display:block;width:48px;color:#000;}
			.play_list_frame .buy a:hover b {color:#39f;}
			.play_list_frame .buy .ons {background:#DDE9FF;color:#666;text-align:center;width:54px;height:27px;margin-left:2px;padding-top:3px;display:inline-block;line-height:14px;overflow:hidden; text-decoration:none;cursor:pointer;}
			.play_list_frame .sell { position:absolute;height:28px;width:168px;top:1px;right:0;background:#fff;font-family:sans-serif}
			.play_list_frame .sell a b {display:block;width:48px;color:#000;}
			.play_list_frame .sell a:hover b {color:red;}
			.play_list_frame .sell .ons {background: #FFE1E1;color:#666;text-align:center;width:54px;height:27px;margin-left:2px;padding-top:3px;display:inline-block;line-height:14px;overflow:hidden;text-decoration:none;cursor:pointer;}
			.play_list_frame .buy .flicker,.play_list_ul li .sell .flicker{background-color:#FFFF99;}
			.play_list_frame .game{position:relative}			
			.play_list_frame .lock_layout { position:absolute;top:0;left:auto;right:0; background: url(../images/lock_32.gif) no-repeat center center #000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity: 0.4;opacity: 0.4;height:65px;width:420px;z-index:100;color:red;}

			
			

			
	/*sub*/
	.sub_content {margin-left:10px;}
		.sub_body {padding:10px 0 10px 10px;zoom:1;}
		.sub_body p {padding:6px 0 0 0;margin:0;line-height:16px;}
		
		.table_0 { border-collapse:collapse;border:1px #ccc solid;width:100%;}
		.table_0 td { background:#fff;padding:4px 2px;white-space:nowrap;}
		.table_0 td.titer { background:#e7eff5;color:#009933;font-weight:bold;border-bottom:1px #e3e3e3 solid;padding-left:10px;}
		
		.table_1 { border-collapse:collapse;border-left:1px #ccc solid;border-top:1px #ccc solid;width:100%;text-align:center;}
		.table_1 th { background: #EFEFEF;border-bottom:1px #ccc solid;border-right:1px #ccc solid; font-weight:normal;padding:3px 5px;}
		.table_1 th.ddd { background:#ddded9;}
		.table_1 td { background:#fff;border-bottom:1px #ccc solid;border-right:1px #ccc solid;white-space:nowrap;padding:3px 5px;}
		
		.table_1_2 { border-collapse:collapse;width:100%;text-align:center;}
		.table_1_2 th { background:#ececec;border-bottom:1px #ccc solid;border-right:1px #ccc solid; font-weight:normal;padding:3px;}
		.table_1_2 td { background:#fff;padding:3px;border-bottom:1px #ccc solid;white-space:nowrap;}
		.table_1_2 tr:hover td { background: #FFF4D9;}
		.table_1_2 td.hh { background:#E1FAFF}
		
		
		
		.pt_show {border:1px #375a90 solid;padding:5px 10px;display:block;text-align:left;min-height:40px;_height:40px; background:#fff;line-height:20px;margin:5px 0 10px 50px; position:relative;}
		.pt_show .pt_show_ut { background: url(../images/ico.gif) no-repeat left -100px;width:7px;height:5px; position:absolute;top:-5px;_top:-6px;left:4%;}
		.pt_show .a_colse {width:16px;height:16px; position:absolute;top:3px;right:4px;}
		.pt_show p {margin:0;padding:1px 0;}
		/*float*/

		.b_frame {border:1px #d3dbe7 solid;min-height:60px;_height:60px;margin-top:5px;margin-bottom:10px;clear:both; background:#fff; }
		.b_frame .tit {border-bottom:1px #d3dbe7 solid;background:#e8ecee;height:26px;line-height:26px;font-weight:bold;font-size:12px;color:#000;margin:0;padding:0 10px; text-align:left;}
		.b_frame .key_body {background:#fff;zoom:1;padding:10px;}
		
		.c_tit {background:#e3e3e3;padding:0 5px;display:inline;padding:3px 5px 0 5px;*padding:5px 5px 2px 5px;_padding:5px 5px 1px 5px;}
		.c_frame {border:1px #e3e3e3 solid;padding:10px;}
		.c_frame_body {border:1px #e3e3e3 solid;padding:10px;overflow:auto;height:300px;}
		
		.search_table_0 {width:100%;}
		.search_table_0 td {padding:2px 0;}
		.search_table_0 .s_input {height:16px;line-height:16px;border:1px #ccc solid;}
		
		.table_2 {width:100%;border-collapse:collapse;border-top:1px #999 solid;border-right:1px #999 solid;clear:both;}
		.table_2 th {border-bottom:1px #ccc solid;line-height:18px;padding:4px;color:#fff;border-left:1px #ccc solid; background:#258ad2; white-space:nowrap;}
		.table_2 td { border-bottom:1px #ccc solid;border-left:1px #ccc solid;padding:4px 2px;line-height:20px;color:#000;white-space:nowrap;}
		.table_2 td p {padding:2px 6px;margin:0;line-height:18px;}
		.table_2 tr:hover { background:#ffffe1;}
		.table_2 tr:hover td {color:#000;}
		
		.search_list {padding-bottom:5px;}
		.search_list li {line-height:20px;padding:4px 0; text-align:left;}
		.search_list li .st_1 {text-align:right;display:inline-block;min-width:65px;}
		
		.rpg_border {border:1px #666 solid;padding:15px 15px 5px 0;_padding:0 0 5px 0; position:relative;margin-top:20px;clear:both; _position:inherit;}
		.rpg_border .sub_tit {border:1px #666 solid;_border:none;_border-bottom:1px #666 solid; background: #EEEEEE;height:20px;color:#000;_color:#900;line-height:20px;padding:0 10px; position:absolute;left:10px;top:-11px;_position:inherit;_left:0;_top:0;}
		.rpg_sub {border:1px #999 solid;padding:15px 15px 5px 0; position:relative;margin-top:20px;clear:both;margin-left:15px;}
		.rpg_sub .sub_tit2 {border:1px #999 solid; background: #fff;height:18px;color:#000;line-height:18px;padding:0 10px; position:absolute;left:10px;top:-11px;}	
		
		.rpg_list {padding-bottom:5px;}
		.rpg_list li {line-height:20px;padding:4px 0; text-align:left;color:#333;display:block;height:22px;}
		.rpg_list li span.tips {display:none; background:url(../images/left_po.gif) no-repeat 10px center;padding-left:20px;color:#f60;}
		.rpg_list li:hover { background: #EBFFDD;color:#000;}
		.rpg_list li:hover span.tips {display:inline-block;}
		.rpg_list li .st_1 {min-width:76px;text-align:right;display:inline-block;padding-left:10px;white-space:nowrap;line-height:20px;}
		.rpg_list li .st_2 {min-width:20px;text-align:right;display:inline-block;padding-left:10px;white-space:nowrap}
		.rpg_list li.sub { background:#f0f0f0;margin-left:0;padding-left:10px;color:#999;}
		.rpg_ac {clear:both; text-align:center;padding:5px;}	
		
		.tab_frame {height:25px;margin-top:10px;}
		.tab_frame ul li {height:25px;float:left; background:url(../images/sub_top_nav.gif) no-repeat left -50px;margin-right:1px;}
		.tab_frame ul li span {height:25px;float:left;padding:0 15px;line-height:25px; background:url(../images/sub_top_nav.gif) no-repeat right -75px;color:#666;}
		.tab_frame ul li span a {color:#666;}
		.tab_frame ul li span a:hover {color:#f60;}
		.tab_frame ul li.ons { background:url(../images/sub_top_nav.gif) no-repeat left top;}
		.tab_frame ul li.ons span { background:url(../images/sub_top_nav.gif) no-repeat right -25px;color:#fff}
		.tab_frame ul li.ons span a {color:#fff}
		.tab_frame ul li.ons span a:hover {color:#fff; text-decoration:none; cursor: default}
		
		.search_frame {border:1px #bdcfd9 solid;padding:4px 10px;clear:both;background:#f0f0f0;margin:0 0 2px 0;}
		.search_frame p {margin:1px 0;padding:4px;}
		.search_frame p.other_search { background:#e2e6e7 ;padding:4px;}
		.search_frame p.other_bt {border-top:1px #e3e3e3 solid;padding-left:64px;background:#f0f0f0;}
		
		.err_frame {margin:10% 0px; background:url(../images/err_001.gif) no-repeat 20px center #FFC;height:150px;padding-left:160px;overflow:hidden;}
		.err_frame h5 {font-size:16px;margin:0;padding:5px 0;color:red;}
		.err_frame .err_bewrite {width:300px;height:120px;padding:5px 10px;margin:10px 0;float:left;display:inline;border-left:1px  #FC9 solid;line-height:16px;}
		.err_frame .err_bewrite div {padding:5px 0;}
		
		.list_grid {margin-top:12px;clear:both;}
		.list_line {clear:both;border-bottom:1px #e3e3e3 solid;padding:2px;margin-bottom:1px;height:24px;line-height:24px;}
		
		.list_table_1 {margin-top:1px;border-collapse:collapse;border:1px #ccc solid; border-collapse:collapse;width:100%;font-size:12px;}
		/* Firefox */@-moz-document url-prefix(){.list_table_1 {margin-top:2px;border-collapse:collapse;border:1px #ccc solid; border-collapse:collapse;width:100%;font-size:12px;}}
		.list_table_1 th { background:#ececec;border-bottom:1px #ccc solid;border-right:1px #ccc solid;padding:5px 3px; text-align:center;color: #039;}
		.list_table_1 tr { background:#fff;color:#000;}
		.list_table_1 tr:hover td { background: #FFC;color:#000;}
		.list_table_1 td { border-bottom:1px #ccc solid;border-right:1px #ccc solid;padding:3px;line-height:20px; white-space:nowrap;}
		
		.list_table_3 {margin-top:1px;border-collapse:collapse;border:1px #c2c6cf solid; border-collapse:collapse;width:100%;font-size:12px;}
		/* Firefox */@-moz-document url-prefix(){.list_table_3 {margin-top:2px;border-collapse:collapse;border:1px #ccc solid; border-collapse:collapse;width:100%;font-size:12px;}}
		.list_table_3 th { background:#666699;border-bottom:1px #c2c6cf solid;border-right:1px #c2c6cf solid;padding:5px 3px; text-align:center;color: #fff;}
		.list_table_3 th p {padding:0;margin:0; white-space:nowrap;line-height:16px;}
		.list_table_3 tr { background:#fff;color:#000;}
		.list_table_3 tr:hover td { background: #FFC;color:#000;}
		.list_table_3 td { border-bottom:1px #c2c6cf solid;border-right:1px #c2c6cf solid;padding:4px 3px;white-space:nowrap;}
		.list_table_3 td p {padding:1px;margin:0; white-space:nowrap;}
		
		.list_table_4 {margin-top:1px;border-collapse:collapse;border-collapse:collapse;width:100%;font-size:12px;}
		/* Firefox */@-moz-document url-prefix(){.list_table_4 {margin-top:2px;border-collapse:collapse;border-collapse:collapse;width:100%;font-size:12px;}}
		.list_table_4 th { border-bottom:3px #666699 solid;padding:4px; text-align:center;color: #666699; white-space:nowrap;}
		.list_table_4 th.s_top { background:#ebebeb;}
		.list_table_4 tr { background:#fff;color:#000;}
		.list_table_4 td { border-bottom:1px #ccc solid;padding:2px 0;white-space:nowrap;text-align:center;}
		.list_table_4 td p {height:18px;line-height:18px;padding:0;margin:0;background:#efefef;}
		.list_table_4 td p.p_line {border-top:1px #e3e3e3 solid;height:18px;line-height:18px; background:#edecec;}
		.list_table_4 tr:hover td { background: #FFC;color:#000;border-bottom:1px #369 solid;}
		.list_table_4 tr:hover td p { background: #faefb0;}
		.list_table_4 tr:hover td p.p_line {border-top:1px #fff solid;}
		
		.list_table_5 {margin-top:1px;border-collapse:collapse;border-collapse:collapse;width:100%;font-size:12px;border-left:1px #ccc solid;border-right:1px #ccc solid;border-top:1px #ccc solid;}
		/* Firefox */@-moz-document url-prefix(){.list_table_4 {margin-top:2px;border-collapse:collapse;border-collapse:collapse;width:100%;font-size:12px;}}
		.list_table_5 th { border-bottom:3px #666699 solid;padding:4px; text-align:center;color: #666699; white-space:nowrap; background:#e3e3e3;border-right:1px #ccc solid;}
		.list_table_5 th.s_top { background:#ebebeb;}
		.list_table_5 tr { background:#fff;color:#000;}
		.list_table_5 td { border-bottom:1px #ccc solid;border-right:1px #ccc solid;padding:2px 0;white-space:nowrap;text-align:center;}
		.list_table_5 td p {height:18px;line-height:18px;padding:0;margin:0;background:#efefef;}
		.list_table_5 tr:hover td { background: #FFC;color:#000;border-bottom:1px #369 solid;}
		.list_table_5 tr:hover td p { background: #faefb0;}
		.list_table_5 tr:hover td p.p_line {border-top:1px #fff solid;}
		
		
		.list_table_2 {margin-top:1px;border-collapse:collapse;border:1px #ccc solid; border-collapse:collapse;width:100%;font-size:12px; white-space:nowrap;}
		/* Firefox */@-moz-document url-prefix(){.list_table_2 {margin-top:2px;border-collapse:collapse;border:1px #ccc solid; border-collapse:collapse;width:100%;font-size:12px;white-space:nowrap;}}
		.list_table_2 th { background:#000;font-weight: bold;border-bottom:1px #ccc solid;border-right:1px #ccc solid;padding:3px 2px; text-align:center}
		.list_table_2 th.top2 { background:#d0dad4}
		.list_table_2 th.top3 { background:#e9d2d2}
		.list_table_2 th.top4 { background:#ccd9e8}
		.list_table_2 th.top5 { background: #EEE;font-weight:normal;}
		.list_table_2 .top { background:#ececec;white-space:nowrap;}
		.list_table_2 .top2 { background:#dce7e1;white-space:nowrap;}
		.list_table_2 .top21 { background:#dcdee7;white-space:nowrap;}
		.list_table_2 .top22 { background:#e3e7dc;white-space:nowrap;}
		.list_table_2 .top23 { background:#e7dfdc;white-space:nowrap;}
		.list_table_2 .top24 { background:#e5dce7;white-space:nowrap;}
		.list_table_2 .top3 { background: #FFE1E1;white-space:nowrap;}
		.list_table_2 .top4 { background: #DEF;white-space:nowrap;}
		.list_table_2 .top5 { background: #FFD0A2;white-space:nowrap;}
		.list_table_2 tr { background:#fff;color:#333;}
		.list_table_2 tr:hover td { background:#ffc;color:#000;}
		.list_table_2 tr:hover td a {color:#369;}
		.list_table_2 tr:hover td a:hover {color:red;}
		.list_table_2 td { border-bottom:1px #ccc solid;border-right:1px #ccc solid;padding:3px 2px; text-align:center;line-height:20px;}
		
		/*赛事选择*/
		.paly_select_c {padding:15px 6px 5px 6px;color:red;border:1px #369 solid;margin-bottom:2px;}
			.paly_select_c label:hover { cursor:pointer;color: #f60}
			.paly_select_c input:hover { cursor:pointer;color:#F30}
			
			.paly_select_d { background:#d1e0fd;border-top:1px #C9CFDC solid;border-left:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;padding:5px 6px;min-height:200px;overflow:auto;}
			.paly_select_d ul li {width:310px;padding:5px 0;display:inline;margin-right:10px;float:left;line-height:14px;overflow:hidden; white-space:nowrap;}
			.paly_select_d ul li:hover { background:#FEFCF1; cursor:pointer;color:red;}
			.paly_select_d ul label {display:inline-block;}
			.paly_select_d ul.locklist li {color:#666}
			.paly_select_d ul.locklist li:hover {color:#666; background:none;}
		
		.none_bewrite {border:1px #ccc solid;padding:5px;margin:5px; background:#E7FCFE;}

	.foot {display:none;clear:both;padding:4px 8px; text-align:left;line-height:18px;color:#999;}
